<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.informationsystem/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.informationsystem.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Department.browse"
              caption="msg://com.company.informationsystem.screen.department/departmentBrowse.menu"/>
        <item screen="Client.browse" caption="msg://com.company.informationsystem.screen.client/clientBrowse.menu"/>
        <item screen="Employee.browse"
              caption="msg://com.company.informationsystem.screen.employee/employeeBrowse.menu"/>
        <item screen="Initiator.browse"
              caption="msg://com.company.informationsystem.screen.initiator/initiatorBrowse.menu"/>
        <item screen="Request.browse" caption="msg://com.company.informationsystem.screen.request/requestBrowse.menu"/>
        <item screen="Request.browse.by.initiator"
              caption="msg://com.company.informationsystem.screen.request/requestBrowseByInitiator.menu"/>
    </menu>

</menu-config>